<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援三種：Equipment_Load、Equipment_UnLoad、Equipment_LUMix-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->

<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="CAAGVC00" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.AUOMCSDefaultMapAction, ScriptControl">
    <Zone id="AGV_ZONE">
      <Node id="AGV_NODE" node_num="1" >
        <Vehicle id="AGV01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx01"/>
        <Vehicle id="AGV02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx02"/>
        <Vehicle id="AGV03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx03"/>
      </Node>
      <Node id="EQ_NODE" node_num="2" >
        <EQPT id="EQ1" eqptType="3" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EquipmentValueDefMapAction, ScriptControl">
          <PortStation id="CARUBC00:01" unit_num="1" adr_id ="20013"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="CARUBC00:02" unit_num="2" adr_id ="20012"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
        </EQPT>

        <EQPT id="EQ2" eqptType="3" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EquipmentValueDefMapAction, ScriptControl">
          <PortStation id="CARUBA00:01" unit_num="1" adr_id ="00000"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="CARUBA00:02" unit_num="2" adr_id ="00000"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="CARUBB00:01" unit_num="1" adr_id ="00000"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="CARUBB00:02" unit_num="2" adr_id ="00000"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
        </EQPT>

        <EQPT id="EQ3" eqptType="1" communicationType="1" >
          <PortStation id="CASTK190:AIO1" unit_num="1" adr_id ="60006"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CASTK190:AIO2" unit_num="2" adr_id ="20005"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>

        <EQPT id="MCharger" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ChargerValueDefMapAction, ScriptControl">
          <Unit id="Charger1" unit_num="1" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger2" unit_num="2" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger3" unit_num="3" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger4" unit_num="4" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
        </EQPT>
        <EQPT id="FireDoor1" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.FireDoorDefaultValueDefMapAction, ScriptControl">
        </EQPT>
        <EQPT id="FireDoor2" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.FireDoorDefaultValueDefMapAction, ScriptControl">
        </EQPT>
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>