<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援三種：Equipment_Load、Equipment_UnLoad、Equipment_LUMix-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->

<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="AAAGV600" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.AUOMCSDefaultMapAction, ScriptControl">
    <Zone id="AGV_ZONE">
      <Node id="AGV_NODE" node_num="1" >
        <Vehicle id="AGV01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx01"/>
        <Vehicle id="AGV02" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx02"/>
        <Vehicle id="AGV03" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx03"/>
        <!--<Vehicle id="AGV04" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx04"/>-->
      </Node>
      <Node id="EQ_NODE" node_num="2" >
        <EQPT id="EQ1" eqptType="3" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EquipmentValueDefMapAction, ScriptControl">
          <PortStation id="CARUB900:01" unit_num="1" adr_id ="52099"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="CARUB900:02" unit_num="2" adr_id ="20098"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="CARUB900:03" unit_num="3" adr_id ="20097"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
        </EQPT>
        <EQPT id="EQ4" eqptType="3" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EquipmentValueDefMapAction, ScriptControl">
          <PortStation id="AAWTO400:01" unit_num="1" adr_id ="20077"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="AAWTO400:02" unit_num="2" adr_id ="20076"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="AAWTO400:03" unit_num="3" adr_id ="20075"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>

        </EQPT>
        <EQPT id="EQ2" eqptType="2" communicationType="1" >
          <PortStation id="CABUF100:01" unit_num="4" adr_id ="20065"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:02" unit_num="5" adr_id ="20063"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:03" unit_num="6" adr_id ="20062"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:04" unit_num="7" adr_id ="20061"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:05" unit_num="8" adr_id ="20059"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:06" unit_num="9" adr_id ="20058"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:07" unit_num="10" adr_id ="20054"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:08" unit_num="11" adr_id ="20050"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:09" unit_num="12" adr_id ="20049"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:10" unit_num="13" adr_id ="20048"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:11" unit_num="14" adr_id ="20046"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:12" unit_num="15" adr_id ="20044"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:13" unit_num="16" adr_id ="20043"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:15" unit_num="17" adr_id ="20003"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:16" unit_num="18" adr_id ="20004"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:17" unit_num="19" adr_id ="20005"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:18" unit_num="20" adr_id ="20006"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:19" unit_num="21" adr_id ="20008"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:20" unit_num="22" adr_id ="20009"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:21" unit_num="23" adr_id ="20011"  load_vh_type ="0" unload_vh_type ="0" />
          <!--Phase 2-->
          <PortStation id="CABUF100:22" unit_num="24" adr_id ="20013"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:23" unit_num="25" adr_id ="20015"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:24" unit_num="26" adr_id ="20016"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:25" unit_num="27" adr_id ="20017"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:26" unit_num="28" adr_id ="20019"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:27" unit_num="29" adr_id ="20021"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:28" unit_num="30" adr_id ="20022"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:29" unit_num="31" adr_id ="20024"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:30" unit_num="32" adr_id ="20025"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:31" unit_num="33" adr_id ="20026"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:32" unit_num="34" adr_id ="20027"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:33" unit_num="35" adr_id ="20029"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:34" unit_num="36" adr_id ="20030"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:35" unit_num="37" adr_id ="20031"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:36" unit_num="38" adr_id ="20033"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:37" unit_num="39" adr_id ="20034"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CABUF100:38" unit_num="40" adr_id ="20038"  load_vh_type ="0" unload_vh_type ="0" />
		  

        </EQPT>
		
		<EQPT id="EQ5" eqptType="3" communicationType="1" >
		  <PortStation id="CABCV200:02" unit_num="1" adr_id ="48084"  load_vh_type ="0" unload_vh_type ="0" />
			
		</EQPT>

        <EQPT id="EQ3" eqptType="1" communicationType="1" >
          <PortStation id="AASTK250:AOUT2" unit_num="1" adr_id ="28066"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="CASTK010:AIN2" unit_num="2" adr_id ="20001"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AASTK250:AIN2" unit_num="3" adr_id ="20067"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AASTK240:AIN2" unit_num="4" adr_id ="20053"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AASTK240:AOUT2" unit_num="5" adr_id ="28051"  load_vh_type ="0" unload_vh_type ="0" />
          <!--Phase 2-->
          <PortStation id="AASTK220:AIN2" unit_num="6" adr_id ="20042"  load_vh_type ="0" unload_vh_type ="0" />
          <PortStation id="AASTK220:AOUT2" unit_num="7" adr_id ="28040"  load_vh_type ="0" unload_vh_type ="0" />
        </EQPT>



        <!--<EQPT id="EQ2" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EquipmentValueDefMapAction, ScriptControl">
          <Port id="P21" unit_num="1" port_num="1" capacity="1" port_type="B"/>
          <Port id="P22" unit_num="2" port_num="2" capacity="1" port_type="B"/>
          <Port id="P23" unit_num="3" port_num="3" capacity="1" port_type="B"/>
          <Port id="P24" unit_num="4" port_num="4" capacity="1" port_type="B"/>
          <Port id="P25" unit_num="5" port_num="5" capacity="1" port_type="B"/>
        <PortStation id="P21" unit_num="1" adr_id ="00000"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
        <PortStation id="P22" unit_num="2" adr_id ="00000"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
        <PortStation id="P23" unit_num="3" adr_id ="00000"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
        <PortStation id="P24" unit_num="4" adr_id ="00000"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
        <PortStation id="P25" unit_num="5" adr_id ="00000"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
        </EQPT>-->
        <EQPT id="MCharger" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ChargerValueDefMapAction, ScriptControl">
          <Unit id="Charger1" unit_num="1" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger2" unit_num="2" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger3" unit_num="3" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
          <Unit id="Charger4" unit_num="4" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SubChargerValueDefMapAction, ScriptControl"/>
        </EQPT>
        <EQPT id="FireDoorInfo1" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.FireDoorInfoDefaultValueDefMapAction, ScriptControl">
          <Unit id="FireDoor1" unit_num="1" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.FireDoorDefaultValueDefMapAction, ScriptControl"/>
        </EQPT>
        <EQPT id="FireDoorInfo2" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.FireDoorInfoDefaultValueDefMapAction, ScriptControl">
          <Unit id="FireDoor2" unit_num="2" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.FireDoorDefaultValueDefMapAction, ScriptControl"/>
        </EQPT>
        <!--<EQPT id="FireDoor2" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.FireDoorDefaultValueDefMapAction, ScriptControl">
        </EQPT>-->
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>