<EQMapToValueEvent>

  <EQObject id="MCharger" cate="Equipment" MPLCName="Charger">
    <ValueEvent baseName="AGVC_TO_CHARGER_INDEX_AREA" relativeName="AGVC_TO_CHARGER_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TIME_SYNC_COMMAND" relativeName="AGVC_TIME_SYNC_COMMAND"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_MCHARGER_INDEX_AREA" relativeName="AGVC_TO_MCHARGER_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_MCHARGER_ALL_COUPLER_ENABLE" relativeName="AGVC_TO_MCHARGER_ALL_COUPLER_ENABLE"></ValueEvent>
    <ValueEvent baseName="MCHARGER_TO_AGVC_INDEX_AREA" relativeName="MCHARGER_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_REPORT" relativeName="MCHARGER_TO_AGVC_ABNORMAL_CHARGING_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="Charger1" cate="Unit" MPLCName="Charger" isValueEventTrigger="Y">
    <ValueEvent baseName="AGVC_TO_CHARGER1_INDEX_AREA" relativeName="AGVC_TO_CHARGERX_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="AGVC_TO_CHARGER1_COUPLER_ENABLE_DISABLE" relativeName="AGVC_TO_CHARGERX_COUPLER_ENABLE_DISABLE"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_INDEX_AREA" relativeName="CHARGERX_TO_AGVC_INDEX_AREA"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_CURRENT_CHARGING_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CHARGING_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_STATUS_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_STATUS_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_CURRENT_CONSTANT_REPORT" relativeName="CHARGERX_TO_AGVC_CHARGER_CURRENT_CONSTANT_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_COUPLER_CHANGING_INFO_REPORT" relativeName="CHARGERX_TO_AGVC_COUPLER_CHANGING_INFO_REPORT"></ValueEvent>
    <ValueEvent baseName="CHARGER1_TO_AGVC_PIO_HANDSHAKE_REPORT" relativeName="CHARGERX_TO_AGVC_PIO_HANDSHAKE_REPORT"></ValueEvent>
  </EQObject>

  <EQObject id="ColorLight" cate="Equipment" MPLCName="ColorLight">
    <ValueEvent baseName="COLOR_LIGHT_WRITE" relativeName="Color_light_write_signal"></ValueEvent>
  </EQObject>
  
  <EQObject id="TrafficLight1" cate="Equipment" MPLCName="TrafficLight1">
    <ValueEvent baseName="TRAFFIC_LIGHT_READ" relativeName="Traffic_light_read_signal"></ValueEvent>
    <ValueEvent baseName="TRAFFIC_LIGHT_WRITE" relativeName="Traffic_light_write_signal"></ValueEvent>
  </EQObject>
  
  <EQObject id="TrafficLight2" cate="Equipment" MPLCName="TrafficLight2">
    <ValueEvent baseName="TRAFFIC_LIGHT_READ" relativeName="Traffic_light_read_signal"></ValueEvent>
    <ValueEvent baseName="TRAFFIC_LIGHT_WRITE" relativeName="Traffic_light_write_signal"></ValueEvent>
  </EQObject>
</EQMapToValueEvent>