<!-- Equipment Name不可重複 -->
<!-- valueDefMapActionClass可指定多個實現com.mirle.ibg3k0.smc.data.IValueDefMapAction的類別，以","作為間隔 -->
<!-- valueDefMapActionClass所指定的class必須確保被定義在"com.mirle.ibg3k0.smc.data" Name Space下 -->
<!-- 目前eqptType支援三種：Equipment_Load、Equipment_UnLoad、Equipment_LUMix-->
<!-- portType有兩種選項：1、2。 1代表該port是屬於load Port，2代表該port是屬於unload Port -->
<!-- portJudge: 對應到AMS設定的Port Judge Future Action -->
<!-- 用來設定基準位址，方便相對定位使用(使用十六進位)。  _R：EQPT寫入區域即EAP讀取區域、_W：EQPT讀取區域即EAP寫入區域-->
<!-- secsAgentName: 指定使用SECS Agent的名稱，對應SECSConnectionSetting.config的設定-->

<!-- 修改 EQPT id 也必須去修改 EqDefaultValueDefMapAction 裡的 Method : recordRecipeCheck -->
<EquipmentDefs shareMemoryInitClass="com.mirle.ibg3k0.sc.Data.InitAction.ShareMemoryInitProcess_Base, ScriptControl">
  <Line id="AGVT0300" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.SouthInnoluxFactory4MCSDefaultMapAction, ScriptControl">
    <Zone id="AGV_ZONE">
      <Node id="AGV_NODE" node_num="1" >
        <Vehicle id="AGV01" communicationType="3" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EQTcpIpMapAction, ScriptControl" tcpipAgentName="OHxC_TO_OHx01"/>
        
      </Node>
      <Node id="EQ_NODE" node_num="2" >
        <!--<EQPT id="EQ1" eqptType="3" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EquipmentValueDefMapAction, ScriptControl">
          <PortStation id="CARUB900:01" unit_num="1" adr_id ="52099"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="CARUB900:02" unit_num="2" adr_id ="20098"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="CARUB900:03" unit_num="3" adr_id ="20097"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
        </EQPT>-->
        <EQPT id="EQ4" eqptType="3" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.EquipmentValueDefMapAction, ScriptControl">
          <PortStation id="STKL11-B1" unit_num="1" adr_id ="10006"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>
          <PortStation id="STKL20-B1" unit_num="2" adr_id ="10001"  load_vh_type ="0" unload_vh_type ="0" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.PortStationDefaultValueDefMapAction, ScriptControl"/>

        </EQPT>

        <EQPT id="MCharger" communicationType="1" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.ChargerValueDefMapAction, ScriptControl">
          <Unit id="Charger1" unit_num="1" unit_cate="C" eqpt_type="T" capacity="1" tact_time="25" valueDefMapActionClass="com.mirle.ibg3k0.sc.Data.ValueDefMapAction.NorthInnolux.SubChargerValueDefMapAction, ScriptControl"/>
        </EQPT>
      </Node>
    </Zone>
  </Line>
</EquipmentDefs>