<?xml version="1.0" encoding="utf-8" ?>
<!-- Connection Type: 1 = Mitsubishi, 2 = Mirle-->
<MPLCConnectionSetting>

<!--
  <Connection Name="Charger" Type="1" LogicalStationNumber="2" ReadIntervalMilliSec="500" MaxMPLCPoolSize="3" MaxMPLCWaitTime="4" MaxMPLCRetryCount="3"
               AliveMPLCDeviceBlock="W41">
    <Device Type="W" BufferLength="100000" IdRadix="16" BlockBitCount="16" DeviceBitCount="16">
      <ReadRange BeginBlock="00000" EndBlock="00400"></ReadRange>
    </Device>
  </Connection>
-->
</MPLCConnectionSetting>