<?xml version="1.0" encoding="utf-8" ?>
<ElasticSearchTable>
  <url ELASTIC_URL="elastic.viewer.mirle.com.tw" />
  <config item="ELASTIC_TABLE_INDEX_SYSEXCUTEQUALITY">mfoht100-ohtc1-sysexcutequality</config>
  <config item="ELASTIC_TABLE_INDEX_RECODEREPORTINFO">ase-line1-recodereportinfo</config>
  <config item="ELASTIC_TABLE_INDEX_PLCHistory">mfoht100-ohtc1-plchistory</config>
  <config item="ELASTIC_TABLE_INDEX_OHTHistory">mfoht100-ohtc1-ohthistory</config>
  <config item="ELASTIC_TABLE_INDEX_TaskCommandHistory">mfoht100-ohtc1-taskcommandhistory</config>
  <config item="ELASTIC_TABLE_INDEX_UserOperationLog">ase-line1-operationinfo</config>
</ElasticSearchTable>
