<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="C:\LogFiles\ControlSystemViewer\${date:format=yyyyMMdd}" />
  <variable name="layoutDF" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${onexception:inner=${newline} ${exception:format=ToString}} ${message} ${onexception:inner=${newline} ${exception:format=ToString}}"/>
  <variable name="layout_OnlyMessage" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}]##${message}"/>
  <variable name="layout_TimeMessage" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}]:${message}"/>
  <variable name="layoutLogUtility" value="${message} ${onexception:inner=${newline} ${exception:format=ToString}}"/>


  <targets>
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100" flushTimeout="10000"/>
    <target name="GrpcLog" xsi:type="File" fileName="${logDirectory}/GrpcLog.log" layout="${layoutDF}"
    archiveFileName="${logDirectory}/Archive/GrpcLog_{#}.log" maxArchiveFiles="180" archiveNumbering="Date"
  archiveEvery="Day" keepFileOpen="false" enableArchiveFileCompression="true" />
    <target name="MapInfoLog" xsi:type="File" fileName="${logDirectory}/MapInfoLog.log" layout="${layoutDF}"
    archiveFileName="${logDirectory}/Archive/MapInfoLog_{#}.log" maxArchiveFiles="180" archiveNumbering="Date"
  archiveEvery="Day" keepFileOpen="false" enableArchiveFileCompression="true" />
    <target name="VehicleInfoLog" xsi:type="File" fileName="${logDirectory}/VehicleInfoLog.log" layout="${layoutDF}"
    archiveFileName="${logDirectory}/Archive/VehicleInfoLog_{#}.log" maxArchiveFiles="180" archiveNumbering="Date"
  archiveEvery="Day" keepFileOpen="false" enableArchiveFileCompression="true" />
    <target name="SystemLog" xsi:type="File" fileName="${logDirectory}/SystemLog.log" layout="${layoutDF}"
    archiveFileName="${logDirectory}/Archive/SystemLog_{#}.log" maxArchiveFiles="180" archiveNumbering="Date"
  archiveEvery="Day" keepFileOpen="false" enableArchiveFileCompression="true" />
    <target name="RecError" xsi:type="File" fileName="${logDirectory}/RecError.log" layout="${layoutDF}"
    archiveFileName="${logDirectory}/Archive/RecError_{#}.log" maxArchiveFiles="180" archiveNumbering="Date"
  archiveEvery="Day" keepFileOpen="false" enableArchiveFileCompression="true" />
    <target name="TEST_GPP_TRACE" xsi:type="File" fileName="${logDirectory}/TEST_GPP_TRACE.log" layout="${layout_TimeMessage}"
  archiveFileName="${logDirectory}/Archive/TEST_GPP_TRACE_{#}.log" maxArchiveFiles="180" archiveNumbering="Date"
 archiveEvery="Day" keepFileOpen="false" enableArchiveFileCompression="true"/>
    <target name="UIExceptionLog" xsi:type="File" fileName="${logDirectory}/UIExceptionLog.log" layout="${layoutDF}"
  archiveFileName="${logDirectory}/Archive/UIExceptionLog_{#}.log" maxArchiveFiles="180" archiveNumbering="Date"
 archiveEvery="Day" keepFileOpen="false" enableArchiveFileCompression="true"/>
    <target name="DebugLog" xsi:type="File" fileName="${logDirectory}/DebugLog.log" layout="${layoutDF}"
    archiveFileName="${logDirectory}/Archive/DebugLog_{#}.log" maxArchiveFiles="180" archiveNumbering="Date"
  archiveEvery="Day" keepFileOpen="false" enableArchiveFileCompression="true" />

    <target name="OperationLogger" xsi:type="File" fileName="${logDirectory}/OperationLogger.log" layout="${layoutDF}"
  archiveFileName="${logDirectory}/Archive/OperationLogger_{#}.log" maxArchiveFiles="180" archiveNumbering="Date"
 archiveEvery="Day" keepFileOpen="false" enableArchiveFileCompression="true"/>
<target name="SystemOperationLogger" xsi:type="File" fileName="${logDirectory}/SystemOperationLogger.log" layout="${layoutDF}"
  archiveFileName="${logDirectory}/Archive/SystemOperationLogger{#}.log" maxArchiveFiles="180" archiveNumbering="Date"
 archiveEvery="Day" keepFileOpen="false" enableArchiveFileCompression="true"/>

  </targets>
  <rules>
    <logger name="*" level="Warn" writeTo="SystemLog" />
    <logger name="*" level="Error" writeTo="RecError" />
    <logger name="com.mirle.ibg3k0.ohxc.wpf.BLL.MapBLL" level="Info" writeTo="MapInfoLog"/>
    <logger name="com.mirle.ibg3k0.ohxc.wpf.BLL.VehicleBLL" level="Info" writeTo="VehicleInfoLog"/>
    <!--<logger name="com.mirle.ibg3k0.ohxc.winform.UI.Components.*" minlevel="Info" writeTo="UIExceptionLog"/>
    <logger name="com.mirle.ibg3k0.Utility.ul.UI.Components.*" minlevel="Info" writeTo="UIExceptionLog"/>-->
    <logger name="OperationLogger" level="Info" writeTo="OperationLogger"/>
    <logger name="SystemOperationLogger" level="Info" writeTo="SystemOperationLogger"/>
    <logger name="TEST_GPP" level="Trace" writeTo="TEST_GPP_TRACE"/>
    <logger name="GrpcLogger" minlevel="Info" writeTo="GrpcLog"/>
    <logger name="DebugLogger" minlevel="Debug" writeTo="DebugLog"/>
  </rules>
</nlog>

